@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
    <title>TenFor10</title>
    <meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link href='http://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
   
	@Styles.Render("~/content/css")
	
    
    <!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="knewave">

<div id="wrapper">
	<div id="header" class="grid-container">
    	<div class="row">
            <span class="span20">
                <h1 class="title">Water World<br />Day <span class="c-black">2013</span></h1>
                <p class="intro">
                    <span class="rotate"><span class="c-black">Donate</span> Water</span><br /> for africa
                    <span class="c-black">& <br /> help us reach our<br /> goal:</span>
                    <span id="count"></span> <span class="c-black">/</span> 
                    <small>
                        <span id="total"></span>
                        <small class="c-black">people</small>
                    </small>
                </p>
            </span>
        </div>
    </div>
	<div id="mainContent" class="grid-container">
		<h1 id="goal">goal <span class="c-black">reached!</span></h1>
	</div>
	
	<footer id="footer" class="grid-container">
    	<div class="row">
        	<span class="span1 icon-man"></span>
           	<span class="span4">= 5 people</span>
            <span class="span2"><span class="icon-star imgCenter"></span></span>
            <span class="span7">
    			<a href="www.tenfor10.org" title="tenfor10">WWW.TENFOR10.ORG</a>            
        	</span>
            <span class="span4 move2">
            	<img class="fl" src="assets/images/logo-debc.png" alt="debc" />
                <img class="fr" src="assets/images/logo-tenforten.png" alt="ten for ten" />
            </span>
        </div>
    </footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/scripts/plugins/jquery-1.9.1.min.js">\x3C/script>')</script>
@Scripts.Render("~/bundles/main")	
</body>	
</html>